* {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px;


}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* background-color: #FFFFFF; */
}

.input-field {
    width: 300px;
    height: 40px;
    /* border-radius: 20px; */
    margin: 20px;
}
.check-box{
    width: 24px;
    height: 24px;
    margin-right: 12px;

}
.edit-button {
    background-color: blue;
}
.delete-button {
    background-color: red;
}
.b-buttons{
    border-radius: 4px;
    padding: 2px;
    margin: 4px;

}
.add-button {
    height: 40px;
    padding: 2px;

}

.list-item {
    background-color: #FFFFFF;
    width: Hug (274px);
    height: Hug(248px);
    border-radius: 8px;
    padding: 24px;
}
.list-items {
    list-style-type: none;
    /* font-family: 'Rubik'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #161717;
    /* order: 1; */


}
.todo-items-child {
    display: flex;
}

.todo-items-child + .todo-items-child {
    margin-top: 20px;
}